# VS Code
.vscode
.VSCodeCounter

# Gatsby
node_modules/
.cache/
public
src/gatsby-types.d.ts

# Krita
*.png~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dotenv environment variable files
.env*
