@use "sass:color";

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.button {
	// transition: color 0.15s ease, background-color 0.15s ease;

	color: #{$button-text-color};
	background-color: transparent;

	border: none;
	border-radius: #{$rounded-corners};
	display: inline-block;
	font-family: Readex Pro, Inter;
	font-size: 0.875rem;
	padding: 0.75rem 3.25rem;
	text-align: center;
	text-decoration: none;

	&.primary {
		background: var(--primary-color);
		// outline: 1px solid #{$primary-color};

		&:hover {
			background: var(--primary-color-darker);
			// outline: 0px transparent;
		}
	}

	&.primary-disabled {
		background: var(--primary-color-glass);
		pointer-events: none;
	}

	&.secondary {
		background-color: var(--secondary-button-color);

		&:hover {
			background: var(--secondary-button-color-lighter);
			// outline: 0px solid transparent;
		}
	}

	&.outline {
		background: transparent;
		color: var(--text-secondary);
		outline: 1px solid var(--text-secondary);

		&:hover {
			color: #fff;
			background: var(--text-secondary);
			outline: 0px solid transparent;
		}
	}
}
