.bg-wrapper {
	background-color: transparent;
}

.nav-bar {
	width: 100%;
	/* flex-wrap: wrap; */
	display: flex;
	padding: 2rem 0;
	margin-bottom: 0;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;

	a {
		text-decoration: none;
		list-style-type: none;
	}

	button {
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 1.5rem;
		font-family: Readex Pro, Inter;
		font-weight: normal;
		letter-spacing: revert;
		margin: 0 -1rem 0 1rem;
		color: var(--text-color);
		width: 0;
		cursor: pointer;

		@media screen and (max-width: 770px) {
			display: none;
		}
	}

	.branding {
		display: flex;
		cursor: pointer;
		padding: 8px 0;
		border: none;
		border-radius: 0.375rem;
	}
}

.nav-links {
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	font-family: Readex Pro, Inter;

	list-style-type: none;
	margin-block: 0;
	margin-inline: 0;
	padding-inline: 0;

	li {
		font-size: 0.875rem;
	}

	// &.mid {
	// 	position: absolute;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// }

	.divider {
		width: 24px;
		height: auto;
		display: inline-block;
	}

	// .light-dark-toggle {
	// 	padding: 0 12px;
	// }

	.hide-on-light {
		display: inherit;
		color: var(--text-color);

		.dark & {
			display: none;
		}
	}
	.hide-on-dark {
		display: none;
		color: var(--text-color);

		.dark & {
			display: inherit;
		}
	}
}

.nav-item a {
	color: var(--text-color);
	margin: 0 0.75rem;
	display: inline-block;
	padding: 10px 0.5rem;
	text-decoration: none;
	border-radius: #{$rounded-corners};

	&:hover {
		color: var(--primary-color-nav);
	}

	&.selected {
		color: var(--primary-color-nav);
	}

	@media screen and (max-width: 525px) {
		display: none;
	}
}
