.bg-wrapper-landing {
	// background-image: url("../images/abstract-light.png");
	background-size: cover;
}

.p2-wrapper {
	padding-inline: 12.5rem;
}

.top-landing {
	padding: 4rem 0 8rem 0;
	// display: inline-block;
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 10rem;

	@media screen and (max-width: 1110px) {
		// padding: 2rem 0;
	}

	.text-and-buttons {
		display: flex;
		text-align: center;
		justify-content: center;
		justify-items: center;
		align-items: center;
		// flex-grow: 1;

		p {
			max-width: 30rem;
			color: var(--text-color);
		}

		@media screen and (max-width: 1110px) {
			// padding: 4rem 0;
		}
	}

	.buttons {
		margin: 1.75rem;
		font-size: 1em;

		@media screen and (max-width: 1110px) {
			text-align: center;
			display: flex;
			justify-content: center;
			justify-items: center;
			justify-self: center;
		}

		// Aligned for buttons to not overflow
		@media screen and (max-width: 525px) {
			margin: 0;
			flex-direction: column;

			.button {
				max-width: 2rem;
			}
		}
	}

	h2 {
		letter-spacing: -0.15rem;
		font-size: 3.75rem;
		font-weight: bold;
		text-align: center;
		margin: 0;

		@media screen and (max-width: 1023px) {
			font-size: 3rem;
		}

		// @media screen and (max-width: 525px) {
		@media screen and (max-width: 638px) {
			// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
			// Minimum viewport width = 360px
			// Maximum viewport width = 926px
			font-size: clamp(2.5rem, 1.4091rem + 4.8485vw, 3rem);
			display: inline-flex;
			max-width: 24rem;
		}
	}

	p {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.vertical-divider {
		padding-bottom: 32px;
		@media screen and (max-width: 1110px) {
			padding-bottom: 16px;
		}
	}

	.divider {
		width: 1rem;
		height: auto;
		display: inline-block;

		@media screen and (max-width: 525px) {
			height: 0.5rem;
			flex-direction: column;
		}
	}
}

.poll-gallery {
	.image-container {
		justify-self: center;
	}

	.image {
		padding: 4.5rem 0 5rem 0;
		height: auto;
	}
}

.dark-image {
	display: none;
	:global(html.dark) & {
		display: inherit;
	}
}

.light-image {
	display: inherit;
	:global(html.dark) & {
		display: none;
	}
}

.trusted-banner {
	background: var(--secondary-background-color);

	a {
		display: inline-flex;

		img {
			width: 64px;
			height: 64px;
			border-radius: 50%;

			@media screen and (max-width: 525px) {
				width: 48px;
				height: 48px;
			}
		}
	}

	h2 {
		letter-spacing: -0.025em;
		font-weight: bold;
		font-size: 2rem;
		margin: 0;
		padding: 3rem 0;
		// margin: 1rem;

		@media screen and (max-width: 1210px) {
			text-align: center;
			padding: 2rem 0 0 0;
		}

		@media screen and (max-width: 525px) {
			font-size: 1.5rem;
			padding: 1rem 0 0 0;
		}
	}

	ul {
		display: flex;
		margin-left: auto;
		list-style-type: none;

		@media screen and (max-width: 1210px) {
			margin: 0;
			padding: 1rem 0 2rem 0;
		}

		@media screen and (max-width: 525px) {
			padding: 0.5rem 0 1rem 0;
		}

		li {
			padding-left: 1.5rem;

			@media screen and (max-width: 1210px) {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}
	}

	li {
		align-self: center;
		line-height: 0;
	}

	.items {
		display: flex;
		align-items: center;

		@media screen and (max-width: 1210px) {
			flex-direction: column;

			&.p2-wrapper {
				padding-inline: 0;
			}
		}
	}
}

.line-divider {
	// Based on var(--secondary-color) but transparent
	border-top-color: #f2f3f5;

	border-top-style: solid;
	border-top-width: 2px;

	padding-top: 5rem;
	padding-bottom: 5rem;

	:global(html.dark) & {
		// Based on secondary-color-darker
		// border-top-color: var(--secondary-color-darker);
		border-top-color: #17191a;
	}
}

.landing-element {
	display: flex;

	h2 {
		font-size: 3rem;
		letter-spacing: -0.15rem;
		margin-top: 0;

		@media screen and (max-width: 525px) {
			font-size: 1.875rem;
			letter-spacing: -0.025em;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}

	// max-width: 58vw;
	max-width: 70rem;
}

.info-group {
	display: flex;
	flex-direction: column;
	align-self: center;

	.info {
		flex-basis: 30rem;
		padding-right: 3rem;

		@media screen and (max-width: 1210px) {
			flex-basis: auto;
			padding-right: 0;
		}
	}

	.elegance {
		padding-top: 6rem;
		padding-bottom: 6rem;

		svg {
			font-size: 2em;
			stroke: var(--primary-color);
			padding-right: 24px;
			overflow: visible;
		}

		li {
			list-style: none;
			padding-top: 0.625rem;
			padding-bottom: 0.625rem;
			display: flex;
		}

		h2 {
			font-size: 3.5rem;
			width: 26rem;

			@media screen and (max-width: 1210px) {
				width: auto;
			}

			@media screen and (max-width: 1023px) {
				font-size: 3rem;
			}

			@media screen and (max-width: 699px) {
				// max-width: 14rem;
				// letter-spacing: -0.025em;
				// max-width: 14rem;
				// text-align: left;
				// margin: 1rem 0;
				// padding: 0;
				// margin: 1rem auto;
			}

			@media screen and (max-width: 593px) {
				max-width: 21rem;
			}

			@media screen and (max-width: 525px) {
				max-width: 14rem;
				font-size: 1.875rem;
			}
		}

		p {
			width: 24rem;

			@media screen and (max-width: 1210px) {
				width: auto;
				text-align: center;
			}

			@media screen and (max-width: 699px) {
				max-width: 400px;
				// margin: 1rem auto;
				text-align: left;
				// margin: 1rem 0;
				padding: 0;
			}
		}

		.image-container {
			margin-left: auto;

			@media screen and (max-width: 1210px) {
				padding-top: 4rem;
				margin: 0 auto;
			}
		}

		.info {
			flex-basis: 33rem;

			@media screen and (max-width: 1210px) {
				flex-basis: auto;
			}
		}

		@media screen and (max-width: 1210px) {
			align-items: center;
			flex-direction: column;
		}
	}

	.simplicity {
		@media screen and (max-width: 1127px) {
			flex-direction: column;
		}

		.info {
			align-self: flex-end;
			flex-basis: auto;
			padding-right: 0;

			@media screen and (max-width: 1127px) {
				align-self: center;
				text-align: center;
			}

			.image {
				@media screen and (max-width: 1127px) {
					align-self: center;
					padding-top: 2rem;
					text-align: center;
				}
			}
		}

		.image-container {
			z-index: -1;
			margin-left: auto;
			position: relative;
			left: 26px;

			@media screen and (max-width: 1127px) {
				margin-left: 0;
				align-self: center;
				padding-top: 2rem;
				left: 0;
			}

			@media screen and (max-width: 525px) {
				flex-direction: column;
			}
		}

		.compressedImage {
			display: none;
			@media screen and (max-width: 1127px) {
				display: unset;
			}
		}
		.uncompressedImage {
			@media screen and (max-width: 1127px) {
				display: none;
			}
		}
	}

	.invisibility {
		@media screen and (max-width: 1210px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		p {
			@media screen and (max-width: 1210px) {
				max-width: 35rem;
			}
		}

		.image-container {
			position: relative;
			left: -8px;
			margin-left: auto;

			@media screen and (max-width: 1210px) {
				left: 0;
				margin: 2rem auto;
			}
		}
	}
}
