@font-face {
	font-family: "Readex Pro";
	src: local("Readex Pro"),
		url(../fonts/ReadexPro-Regular.ttf) format("truetype");
}

body {
	// transition: color 0.15s ease, background-color 0.15s ease,
	// 	outline-color 0.15s ease, opacity 0.15s ease;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

:root {
	font-family: "Readex Pro";
	font-size: 16px;
}

button {
	font-family: "Readex Pro";
	font-size: 16px;
	cursor: pointer;
}
