:root {
	--text-color: #1a1a1a;
	--link-color: #{$link-color};
	--button-text-color: #{$button-text-color};
	--text-secondary: #{$text-secondary};
}

.dark {
	--text-color: #f8f8f8;
	--link-color: #{$link-color};
	--button-text-color: #{$button-text-color};
	--text-secondary: #{$text-secondary};
}

