:root {
	--background-color: #fff;
	--secondary-background-color: #efefef;
	--secondary-background-color: #f1f2f4;
	// --text-color: #1a1a1a;
	--text-color: rgb(3, 9, 32);
	--link-color: #368ee5;
	--button-text-color: #{$button-text-color};
	--text-secondary: #1c1c1c;
	--text-tertiary: #999;
	--primary-color: #1abc9c;
	--primary-color-nav: #1abc9c;
	--primary-color-darker: #14937a;
	--secondary-color-lighter: hsl(0, 0%, 70%);
	--secondary-color: hsl(0, 0%, 60%);
	--secondary-color-darker: hsl(0, 0%, 50%);
	--secondary-button-color: hsl(0, 0%, 60%);
	--secondary-button-color-lighter: hsl(0, 0%, 50%);

	--secondary-button-color-darker: hsl(0, 0%, 50%);
}

.dark {
	color-scheme: dark;

	--background-color: #080709;
	--secondary-background-color: hsl(270, 4%, 7%);
	--text-color: #f8f8f8;
	--link-color: #3387db;
	--button-text-color: #{$button-text-color};
	--text-secondary: #ccc;
	--primary-color: #14937a;
	--primary-color-darker: hsl(168, 76%, 27%);
	--secondary-color: hsl(200, 6%, 15%);
	--secondary-color-lighter: hsl(200, 6%, 25%);
	--secondary-button-color: hsl(200, 6%, 20%);
	--secondary-button-color-lighter: hsl(200, 6%, 25%);
}
